@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(120deg, #d9e4f5 0%, #f5e3e6 74%, white 100%);
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
